.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 12px;
  overflow: visible;
  background: transparent;
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 50%;
  opacity: 0.8;
  bottom: -11px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
  filter: blur(8px);
}

.border-gradient-top {
  position: absolute;
  opacity: 0.8;
  width: 300%;
  height: 50%;
  top: -10px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
  filter: blur(8px);
}

.inner-content {
  position: relative;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0;
  border-radius: 12px;
  z-index: 1;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 0.8;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0.3;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 0.8;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0.3;
  }
}
